usonic_led.json
[
    {
        "id": "d68946c6b3081380",
        "type": "tab",
        "label": "School",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a59988cf3df88b2f",
        "type": "mqtt in",
        "z": "d68946c6b3081380",
        "name": "Distance MQTT",
        "topic": "sensor/distance",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c74dcdbd317b545d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 100,
        "wires": [
            [
                "d9239b9fe83c8b04",
                "a9d98172d1f145bf",
                "1327f27130bafb5d",
                "25daa11bcb7f1ec0"
            ]
        ]
    },
    {
        "id": "d9239b9fe83c8b04",
        "type": "debug",
        "z": "d68946c6b3081380",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "66f6fcb040f8c2b4",
        "type": "mqtt in",
        "z": "d68946c6b3081380",
        "name": "",
        "topic": "sensor/light",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c74dcdbd317b545d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a9d98172d1f145bf",
        "type": "function",
        "z": "d68946c6b3081380",
        "name": "Date/Time",
        "func": "var readCurrent = new Date().getTime();\nmsg.payload = readCurrent;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 280,
        "wires": [
            [
                "2b5f67397057ef43"
            ]
        ]
    },
    {
        "id": "2b5f67397057ef43",
        "type": "moment",
        "z": "d68946c6b3081380",
        "name": "water/data",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Asia/Kuala_Lumpur",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD MMM YYYY HH:mm:ss",
        "locale": "\"POSIX\"",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Kuala_Lumpur",
        "x": 510,
        "y": 280,
        "wires": [
            [
                "cf978f549f7a376e"
            ]
        ]
    },
    {
        "id": "1327f27130bafb5d",
        "type": "ui_gauge",
        "z": "d68946c6b3081380",
        "name": "",
        "group": "cf5cefba6626399d",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Distance",
        "label": "cm",
        "format": "{{value}}",
        "min": "0",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "40",
        "className": "",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "25daa11bcb7f1ec0",
        "type": "ui_chart",
        "z": "d68946c6b3081380",
        "name": "",
        "group": "cf5cefba6626399d",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "cf978f549f7a376e",
        "type": "ui_text",
        "z": "d68946c6b3081380",
        "group": "cf5cefba6626399d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Updated : ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "c8f331953bb4fe05",
        "type": "inject",
        "z": "d68946c6b3081380",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "298c1bc633726ca6"
            ]
        ]
    },
    {
        "id": "a3feaa18b031a4bb",
        "type": "inject",
        "z": "d68946c6b3081380",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "298c1bc633726ca6"
            ]
        ]
    },
    {
        "id": "298c1bc633726ca6",
        "type": "mqtt out",
        "z": "d68946c6b3081380",
        "name": "",
        "topic": "switch/led/007",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4d6606e5d2c874c8",
        "x": 360,
        "y": 400,
        "wires": []
    },
    {
        "id": "a8a8461876dd4fc5",
        "type": "switch",
        "z": "d68946c6b3081380",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 380,
        "wires": [
            [
                "5b06918d7e3bf9e2",
                "c11333af8b28d2ee"
            ],
            []
        ]
    },
    {
        "id": "c11333af8b28d2ee",
        "type": "debug",
        "z": "d68946c6b3081380",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "5b06918d7e3bf9e2",
        "type": "change",
        "z": "d68946c6b3081380",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 520,
        "wires": [
            [
                "c11333af8b28d2ee",
                "6275996a12fd23bd",
                "ed0b34bc743801a9"
            ]
        ]
    },
    {
        "id": "7c54013f0a5c784e",
        "type": "inject",
        "z": "d68946c6b3081380",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "e4e56c6d3514bd81",
                "92586ea658f3e1a0",
                "ed0b34bc743801a9"
            ]
        ]
    },
    {
        "id": "1605e8689b1c80eb",
        "type": "inject",
        "z": "d68946c6b3081380",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "ed0b34bc743801a9",
                "92586ea658f3e1a0"
            ]
        ]
    },
    {
        "id": "22d4a2aa584d11e3",
        "type": "function",
        "z": "d68946c6b3081380",
        "name": "Timer to OFF",
        "func": "msg.payload = \"OFF\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 780,
        "wires": [
            [
                "92586ea658f3e1a0",
                "ed0b34bc743801a9"
            ]
        ]
    },
    {
        "id": "e4e56c6d3514bd81",
        "type": "delay",
        "z": "d68946c6b3081380",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 360,
        "y": 780,
        "wires": [
            [
                "22d4a2aa584d11e3"
            ]
        ]
    },
    {
        "id": "92586ea658f3e1a0",
        "type": "debug",
        "z": "d68946c6b3081380",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 860,
        "wires": []
    },
    {
        "id": "ed0b34bc743801a9",
        "type": "mqtt out",
        "z": "d68946c6b3081380",
        "name": "",
        "topic": "cmnd/sonoff01/POWER",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4d6606e5d2c874c8",
        "x": 610,
        "y": 700,
        "wires": []
    },
    {
        "id": "6275996a12fd23bd",
        "type": "function",
        "z": "d68946c6b3081380",
        "name": "Timer to OFF",
        "func": "msg.payload = \"OFF\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 600,
        "wires": [
            [
                "a3d1276b802c4c27"
            ]
        ]
    },
    {
        "id": "a3d1276b802c4c27",
        "type": "delay",
        "z": "d68946c6b3081380",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 660,
        "wires": [
            [
                "ed0b34bc743801a9"
            ]
        ]
    },
    {
        "id": "e22f1ee3c7efb51f",
        "type": "debug",
        "z": "d68946c6b3081380",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 540,
        "wires": []
    },
    {
        "id": "beda125f5e48aa99",
        "type": "inject",
        "z": "d68946c6b3081380",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "a8a8461876dd4fc5"
            ]
        ]
    },
    {
        "id": "c74dcdbd317b545d",
        "type": "mqtt-broker",
        "name": "Project Broker",
        "broker": "174.138.28.115",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cf5cefba6626399d",
        "type": "ui_group",
        "name": "Ultrasonic",
        "tab": "6aa0a8a44e6d1776",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d6606e5d2c874c8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "174.138.28.115",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6aa0a8a44e6d1776",
        "type": "ui_tab",
        "name": "ESP8266",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
